/*-- scss:defaults --*/
$theme-darkblue: #01364C;
$theme-blue: #0ea0aa;
$theme-white: #F7F8F9;
$theme-yellow: #f7ca36;
$presentation-font-size-root: 30px;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//$body-bg: $theme-darkblue;
//$body-color: $theme-white;
//$link-color: $theme-blue;
//$presentation-heading-color: lighten($theme-blue, 15%);

$font-family-sans-serif: 'Ubuntu', sans-serif;
$presentation-heading-font: 'Ubuntu', sans-serif;

$callout-color-note: $theme-blue;


/*-- scss:rules --*/



.blue {
  color: "#FF0000";
  font-weight: bold;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}

.reveal .slide a {
  text-decoration: underline;
}

